/* Mobile Default Style */
h1 {
	font-family: 'latobold', 'helvetica';
	margin:-70% 0 0 0;
	font-size: 1.5em;
}

.logo {
	width: 60%;
	margin: 0;
}

.intro p {
	font-family: 'latoitalic';
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    color: #959595;
}

.footer {
	font-size: 14px !important;
    font-style: normal !important;
    line-height: 15px !important;
    background-color: #fff;
    padding: 0 0;
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

.footer a, a:visited {
	color: #959595;
}

.footer a:active {
	color: #0cb570;
}

.h1-white {color:#fff !important;}
.p-white {color:#fff !important; opacity: 0.8;}
.text-black {color:#000 !important;}
.h1-home {margin:0px 0 210px 0;}

.googleplay-home {
	margin: 25% 0 0 0;
	width: 70%;
}

.mobile-home {
	position: absolute;
	margin: -200px 0 0 -110px;
	width: 60%;
}

#section0{
	background-image: url(imgs-movmnt/home-bg.jpg);
	padding: 0;
	background-size: cover;
	background-position: 0;
	background-repeat: no-repeat;
}

#section1{
	background-image: url(imgs-movmnt/cards.jpg);
	padding: 0;
	background-size: cover;
	background-position: 0 20px;
	background-repeat: no-repeat;
}

#section2{
	background-image: url(imgs-movmnt/mobile-factory.png);
	padding: 0;
	background-size: cover;
	background-position: 0 60px;
	background-repeat: no-repeat;
}


#section3{
	background-image: url(imgs-movmnt/shop-comunity.png);
	padding: 0;
	background-size: cover;
	background-position: 0 -20px;
	background-repeat: no-repeat;
}

#section4{
	background-image: url(imgs-movmnt/people.jpg);
	padding: 0;
	background-size: cover;
	background-position: 0 -25px;
	background-repeat: no-repeat;
}

#section4 img {
	width: 60%;
	margin-top: 20px;
}

#section5 {
	padding: 25px;
}

#section5 .coupon {
	background: #0dca7c;
	height: 100%;
	width: 100%;
	background-image: url(imgs-movmnt/surprise-coupon.png);
	background-size: cover;
	background-position: 0 -25px;
	background-repeat: no-repeat;
}

#section5 h1 {
	padding: 30px 0 0 0;
}

#section5 p {
	padding: 0 0 40% 0;
}

.coupon {
	margin: 50% 0 0 0;
}
.coupon img {
	width: 80%;
	padding: 60% 0 10% 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	h1 {
		font-size: 3em;
		margin: -55% 0 0 0;
	}
	.h1-home {
		margin:0px 0 270px 0;
	}
	.logo {
		width: 50%;
		margin: 0;
	}
	.mobile-home {
		margin: -200px 0 0 -90px;
		width: 50%;
	}
	.googleplay-home {
		width: 60%;
	}
	#section0{
		background-position: 0px -90px;
	}
	.intro p {
	    font-size: 32px;
	    line-height: 40px;
	    margin-top: 30px;
	}
	#fp-nav ul li,
	.fp-slidesNav ul li {
   	 margin: 10px 15px 10px 10px;
	}
	#section2{
		background-position: 0 160px;
	}
	#section3{
		background-size: 80%;
		background-position: 80px -20px;
		background-repeat: no-repeat;
	}
	.footer {
		font-size: 24px !important;
	    line-height: 28px !important;
	    padding: 20px 0;
	    bottom: 0;
	}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }